/data/test/box/*.txt
/data/test/entities/*.txt
/data/train/entities/*.txt
/data/train/box/*.txt
/data/train/img/*.jpg
/data/test/img/*.jpg
/data/layoutlm-base-uncased
Task1/RectYoloV8/yolo_obb_dataset
Task1/RectYoloV8/runs
Task1/RectYoloV8/yolov8n-obb.pt
Task1/RectCTPN/best_ctpn_model.pth

**.pth

.idea
